*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: yellow;
    border-bottom: 2px solid black;
    height: 3rem;
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 2rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}
main{
    .par{
        border: 2px solid black;
        margin: auto;
        width: 60%;
        margin-top: 8rem;
        border-radius: 10px;
        background-color: rgb(128, 25, 25);
        #cont1{
            padding: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            #cont1_1, #cont1_2{
                border: 2px solid black;
                height: 7rem;
                width: 20rem;
                font-size: 3.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            #cont1_1{
                color: black;
                background-color: white;
            }
            #cont1_2{
                background-color: black;
                color: white;
            }
        }
        #cont2{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin: 5px auto;
            button{
                font-size: 1.1rem;
                padding: 1px;
            }
        }
    }
    .par2{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #re, #so{
        display: none;
    }
}